{% extends "base.html" %}

{% block content %}

<div class="links-container">
    <div class="link-element">
    <form action="#" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" /> <br>
    </div>
    <div class="link-element">
    <label for="password" style="margin-left: 3px;">Password:</label>
    <input type="password" name="password" /> <br>
    </div>
    <button type="submit" style="margin-top: 15x;">Submit</button>
    </form>
</div>

{% endblock %}